In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data={"name":["a","b","c","d","a","c"],"english":[8,7,5,8,8,5],"hindi":[2,3,4,5,2,6]}
df=pd.DataFrame(data)
df

  name  english  hindi
0    a        8      2
1    b        7      3
2    c        5      4
3    d        8      5
4    a        8      2
5    c        5      6

In [3]:
#row 0 and 4 are duplicate whereas row 2 and 5 are not
#df["duplicated"]=df.duplicated()
#df

In [4]:
#removing duplicate data in original data
df.drop_duplicates(inplace=True)
df

  name  english  hindi
0    a        8      2
1    b        7      3
2    c        5      4
3    d        8      5
5    c        5      6

In [5]:
dataset=pd.read_csv(r"C:\Users\rasgu\OneDrive\Documents\VS Code\ml\datasets\loan.csv")
dataset.head(3)
dataset.duplicated()
dataset.shape

(614, 13)

In [8]:
dataset.drop_duplicates(inplace=True)
dataset.shape
#if no change in no. of rows then no duplicates are present

(614, 13)