In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"C:\Users\rasgu\OneDrive\Documents\VS Code\ml\datasets\Boston.csv")
dataset.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,house_price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [3]:
input_data=dataset.iloc[:,:-1]#selecting all rows and all columns except last col
output_data=dataset["house_price"]

In [4]:
from sklearn.model_selection import train_test_split
#input data gets broken into train and test similarly output data as well. so total 4 output 
x_train, x_test, y_train, y_test=train_test_split(input_data,output_data,test_size=0.25)
x_test
x_train
y_test
y_train

369    50.0
260    33.8
263    31.0
400     5.6
505    11.9
       ...
493    21.8
84     23.9
226    37.6
187    32.0
240    22.0
Name: house_price, Length: 379, dtype: float64

In [5]:
dataset.shape

(506, 14)

In [6]:
x_train.shape, y_train.shape

((379, 13), (379,))

In [7]:
x_test.shape, y_test.shape

((127, 13), (127,))